.btn-cs.btn {
	padding: 1px 5px;
	outline: none !important;
}

.tooltips {
	position: relative;
	top: 5px;
	left: 0;
	font-size: 10px;
	background-color: #eee;
	border: 1px solid #bbbbbb;
	box-shadow: 0 0 4px 1px #bdc6d4;
	border-radius: 5px;
	padding: 3px;
	z-index: 998;
}

.tooltips::after {
	content: '';
	position: absolute;
	top: -10px;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent #eee transparent;
	z-index: 998;
}

.start-container {
	gap: 5px;
	z-index: 9999;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
}

.mid-container {
	position: absolute;
	top: 8px;
	height: 26px !important;
	right: 5px;
	align-items: baseline;
	align-items: center;
	gap: 10px;
	z-index: 9999;
}
.mid-input {
	width: 100px;
	padding: 2px !important;
	margin: 0 !important;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
}
.mid-input::placeholder {
	font-size: 10px;
}

.gr {
	fill: #777777;
}
.bl {
	fill: #08c;
}
.svg-all {
	width: 15px;
	/* fill: #777777; */
	transition: all 0.2s ease-in-out;
}

.svg-all:hover {
	cursor: pointer;
	/* fill: #08c;  Передать как класс */
	fill: #08c;
}

.svg-up,
.svg-dwn {
	width: 10px;
}

.alarm {
	position: absolute;
	z-index: 9999;
	right: 5px;
	border-radius: 10px;
	top: 50px;
	padding: 30px;
	background-color: #f0f0f0;
	box-shadow: 0 1px 10px rgba(32, 32, 32, 0.5);
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
}

@keyframes fadeOutAlarm {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
/* Появился */
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateX(20px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

/* Ушёл */
@keyframes fadeOut {
	from {
		opacity: 1;
		transform: translateX(0);
	}
	to {
		opacity: 0;
		transform: translateX(20px);
	}
}
.animate-in {
	display: block;
	animation-name: fadeIn;
}

.animate-out {
	animation-name: fadeOut;
}
.fadeOutAlarm {
	animation-name: fadeOutAlarm;
}
